shap-e
ros_data_formatted
ros_data
ROS
rollerball
PyMarchingCubes
Open3D
ns_test
nerfstudio
nerf-pytorch/nerf-pytorch
**/*.png
**/*.npy
**/*.csv
**/*.json
**/*.log
**/*.pkl
**/*.txt
**/*.jpg
**/*.ply
**/*out
**/*.pcd
**/*.tar
**/*.pdf
**/*zip
**/*.parquet
**/.bkpgit
**/*.mp3
**/*.avi
**/*.html
**/*.gif
**/temp*.*
**/cheezit*
NeRF-interaction-images
kaolin-wisp/_results
kaolin-wisp/_results_new
kaolin-wisp/_results3
gz-usd
GraspNeRF
FoundationPose
dex-net
catkin_ws
an-wisp
actnerf.github.io
ActiveNeRF
2023-col864
*/.git
git
inerf
anygrasp/anygrasp_sdk/*
!anygrasp/anygrasp_sdk/grasp_detection
anygrasp/anygrasp_sdk/grasp_detection/*
kaolin-wisp/notebooks/*
!kaolin-wisp/notebooks/inerf_multi_img_new.py
!kaolin-wisp/notebooks/next_best_pose_range_new_flip_aksh.py


CustomComposer/workdir
CustomComposer/notebooks
CustomComposer/scripts
CustomComposer/workdir2
CustomComposer/old_res
CustomComposer/out*
CustomComposer/task*
CustomComposer/temp*
CustomComposer/test*
CustomComposer/val*
CustomComposer/gpt*
CustomComposer/grasp*
CustomComposer/inerf*
CustomComposer/cheezit*
CustomComposer/can*
CustomComposer/basket*
CustomComposer/spam*
CustomComposer/rubik*
CustomComposer/ours*
CustomComposer/robot*
CustomComposer/small*
CustomComposer/mustard*
CustomComposer/gelatin*
CustomComposer/src/*

!anygrasp/anygrasp_sdk/grasp_detection/demo_new.py
!anygrasp/anygrasp_sdk/grasp_detection/demo.sh
!anygrasp/anygrasp_sdk/grasp_detection/run.sh
!anygrasp/anygrasp_sdk/grasp_detection/demo.py
!CustomComposer/src/active_learning_with_two_robots_sapt.py
!CustomComposer/src/wrapper_script_with_robot_sapt_inerf_multi_img_inerf.py
!CustomComposer/src/wrapper_script_with_robot_sapt_noflip.py
!CustomComposer/src/two_robots_with_gravity_init_pos.py
!CustomComposer/src/two_robots_with_gravity_settle_pos.py
!CustomComposer/src/simulation_video_generator_two_robots_with_gravity_testing_multi_img_inerf.py
!CustomComposer/src/metrics.py